openapi: 3.2.0
info:
  title: Dialect Blinks Blink Lists API
  description: Blockchain Links (Blinks) are the fastest way to take onchain experiences and make them distributable and actionable everywhere. This API enables applications to unbundle their product experiences from their apps and sites, allowing users to take instant, no-redirect actions wherever they are. Blinks transform URLs into complete, interactive blockchain experiences that can be embedded in any client application with automatic unfurling and transaction capabilities.
  version: 0.1.0
servers:
- url: https://api.dial.to
  description: Dialect Production
- url: http://localhost:8770
  description: Local Server
security:
- clientKey: []
tags:
- name: Blink Lists
paths:
  /v1/blink-lists/{id}:
    get:
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlinkList'
        '401':
          description: Client Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionError'
        '404':
          description: List not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionError'
      operationId: getBlinkList
      summary: Get Blink List
      tags:
      - Blink Lists
      description: Retrieve curated list of Blinks by ID from the terminal
      parameters:
      - in: query
        name: account
        schema:
          type: string
          description: Wallet address of the user
      - schema:
          type: string
        in: path
        name: id
        required: true
components:
  schemas:
    ActionError:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      description: Error
    BlinkContext:
      type: object
      properties:
        url:
          type: string
        websiteUrl:
          type: string
        category:
          type: string
        provider:
          $ref: '#/components/schemas/BlinkProvider'
      required:
      - url
      description: Blink Context
    BlinkProvider:
      type: object
      properties:
        name:
          type: string
        icon:
          type: string
      required:
      - name
      description: Blink Provider
    BlinkList:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/BlinkListEntry'
      required:
      - id
      - name
      - entries
      description: Blink List
    BlinkListEntry:
      type: object
      properties:
        image:
          type: string
        title:
          type: string
        description:
          type: string
        cta:
          type: string
        context:
          $ref: '#/components/schemas/BlinkContext'
        links:
          type: object
          properties:
            blink:
              type: string
            dataTable:
              type: string
          required:
          - blink
      required:
      - image
      - title
      - description
      - context
      - links
      description: Blink List Entry
  securitySchemes:
    clientKey:
      type: apiKey
      description: Client key to authorize requests.
      name: x-blink-client-key
      in: header
x-mcp:
  enabled: true
