openapi: 3.2.0
info:
  title: Dialect Blinks Blink Preview API
  description: Blockchain Links (Blinks) are the fastest way to take onchain experiences and make them distributable and actionable everywhere. This API enables applications to unbundle their product experiences from their apps and sites, allowing users to take instant, no-redirect actions wherever they are. Blinks transform URLs into complete, interactive blockchain experiences that can be embedded in any client application with automatic unfurling and transaction capabilities.
  version: 0.1.0
servers:
- url: https://api.dial.to
  description: Dialect Production
- url: http://localhost:8770
  description: Local Server
security:
- clientKey: []
tags:
- name: Blink Preview
paths:
  /v1/blink-preview:
    get:
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlinkPreviewResponse'
        '502':
          description: Failed to fetch data from Blink Provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionError'
      operationId: generateBlinkPreview
      summary: Get Blink Preview
      tags:
      - Blink Preview
      description: Retrieve a small, marketing-optimized preview with different images, titles, and CTA
      parameters:
      - in: query
        name: apiUrl
        schema:
          $ref: '#/components/schemas/BlinkPreviewQuery'
        required: true
components:
  schemas:
    ActionError:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      description: Error
    BlinkContext:
      type: object
      properties:
        url:
          type: string
        websiteUrl:
          type: string
        category:
          type: string
        provider:
          $ref: '#/components/schemas/BlinkProvider'
      required:
      - url
      description: Blink Context
    BlinkProvider:
      type: object
      properties:
        name:
          type: string
        icon:
          type: string
      required:
      - name
      description: Blink Provider
    BlinkPreviewQuery:
      type: string
      format: uri
      description: Blink API URL
      default: https://jito.dial.to/stake
      example: https://jito.dial.to/stake
    BlinkPreviewResponse:
      type: object
      properties:
        image:
          type: string
        title:
          type: string
        description:
          type: string
        cta:
          type: string
        context:
          $ref: '#/components/schemas/BlinkContext'
        links:
          type: object
          properties:
            blink:
              type: string
            dataTable:
              type: string
          required:
          - blink
      required:
      - image
      - title
      - description
      - context
      - links
      description: Blink Preview Response
  securitySchemes:
    clientKey:
      type: apiKey
      description: Client key to authorize requests.
      name: x-blink-client-key
      in: header
x-mcp:
  enabled: true
