openapi: 3.2.0
info:
  title: Dialect Blinks Blink Data Table API
  description: Blockchain Links (Blinks) are the fastest way to take onchain experiences and make them distributable and actionable everywhere. This API enables applications to unbundle their product experiences from their apps and sites, allowing users to take instant, no-redirect actions wherever they are. Blinks transform URLs into complete, interactive blockchain experiences that can be embedded in any client application with automatic unfurling and transaction capabilities.
  version: 0.1.0
servers:
- url: https://api.dial.to
  description: Dialect Production
- url: http://localhost:8770
  description: Local Server
security:
- clientKey: []
tags:
- name: Blink Data Table
paths:
  /v1/blink-data-table:
    get:
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlinkDataTable'
        '502':
          description: Failed to fetch data from Blink Provider
      operationId: getBlinkDataTable
      summary: Get Blink Data Table
      tags:
      - Blink Data Table
      description: Retrieve structured data in table format. Great for displaying key data, such as APY, available balance, etc.
      parameters:
      - in: query
        name: apiUrl
        schema:
          type: string
          format: uri
          description: Blink API URL
          default: https://jito.dial.to/stake
          example: https://jito.dial.to/stake
        required: true
      - in: query
        name: account
        schema:
          type: string
          description: Wallet address of the user
        required: false
components:
  schemas:
    BlinkProvider:
      type: object
      properties:
        name:
          type: string
        icon:
          type: string
      required:
      - name
      description: Blink Provider
    BlinkDataTable:
      type: object
      properties:
        rows:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              title:
                type: string
              value:
                type: string
              icon:
                type: string
              url:
                type: string
            required:
            - key
            - title
            - value
        context:
          $ref: '#/components/schemas/BlinkContext'
        links:
          type: object
          properties:
            blink:
              type: string
            preview:
              type: string
          required:
          - blink
          - preview
      required:
      - rows
      - context
      - links
      description: Blink Data Table
    BlinkContext:
      type: object
      properties:
        url:
          type: string
        websiteUrl:
          type: string
        category:
          type: string
        provider:
          $ref: '#/components/schemas/BlinkProvider'
      required:
      - url
      description: Blink Context
  securitySchemes:
    clientKey:
      type: apiKey
      description: Client key to authorize requests.
      name: x-blink-client-key
      in: header
x-mcp:
  enabled: true
