{"openapi":"3.1.0","components":{"securitySchemes":{"subscriber":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Bearer token authentication for subscriber calls."},"application":{"type":"apiKey","description":"API key to authorize app-level requests.","name":"x-dialect-api-key","in":"header"}},"schemas":{}},"security":[],"info":{"title":"Dialect Alerts V2 API","description":"Dialect Alerts API supporting both subscriber and app authentication methods.","version":"2.2.0-beta"},"servers":[{"url":"https://alerts-api.dial.to","description":"Dialect Production"},{"url":"https://alerts.dialectapi.to","description":"Dialect Production"}],"paths":{"/v2/internal/find-app":{},"/v2/internal/history/summary":{},"/v2/internal/dashboard/app-profile":{},"/v2/internal/dashboard/app/create":{},"/v2/internal/dashboard/app/update":{},"/v2/internal/dashboard/app/audience":{},"/v2/internal/dashboard/app/audience/total":{},"/v2/internal/dashboard/app/alerts-history":{},"/v2/{appId}/send":{"post":{"responses":{"202":{"description":"Message sent successfully","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"operationId":"postV2ByAppIdSend","tags":["Send"],"parameters":[{"in":"path","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"required":true}],"description":"Send an Alert","security":[{"application":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"channels":{"type":"array","items":{"type":"string","enum":["PUSH","IN_APP","EMAIL","TELEGRAM"]},"minItems":1},"message":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":60,"description":"Alert title","example":"Alert Title"},"body":{"type":"string","minLength":1,"maxLength":500,"description":"Alert body","example":"Alert body"},"image":{"type":"string","format":"uri","minLength":1,"maxLength":300,"description":"Public URL of the image to be displayed in the salert. Only jpg, png, and webp formats are supported.","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","const":"link"},"label":{"type":"string","minLength":1,"maxLength":30},"url":{"type":"string","format":"uri","minLength":1,"maxLength":300}},"required":["type","label","url"]},"maxItems":3,"description":"Alert actions","example":[{"type":"link","label":"Open Link","url":"https://dialect.to"}]}},"required":["title","body"]},"topicId":{"type":["string","null"],"format":"uuid","description":"Optional topic ID to categorize the alert. Must be created in advance and belong to the authenticated app. If absent, the alert is uncategorized. If invalid or unauthorized, the request will fail."},"data":{"type":"object","propertyNames":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","minLength":1,"maxLength":64},"additionalProperties":{"type":"string","minLength":1,"maxLength":500},"description":"Additional application data. For push notifications, this data is be available in the push notification payload and can be used by the app to handle the notification. Common use cases include deep linking, custom actions, or passing context to the app.","example":{"type":"transaction","transactionId":"123","amount":"100"}},"push":{"type":"object","properties":{"showNotification":{"type":"boolean","default":true,"description":"Whether to show the notification. When false, the notification will be delivered silently without showing any UI notification."},"playNotificationSound":{"type":"boolean","default":true,"description":"Whether to play notification sound. When false, the notification will be delivered without sound on iOS and best-effort on Android."}},"description":"Push notification specific configuration.","default":{}},"recipient":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"subscriber"},"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["type","walletAddress"],"example":{"type":"subscriber","walletAddress":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},{"type":"object","properties":{"type":{"type":"string","const":"subscribers"},"walletAddresses":{"type":"array","items":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"},"minItems":1,"maxItems":10000}},"required":["type","walletAddresses"],"example":{"type":"subscribers","walletAddresses":["6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7","7CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH8"]}},{"type":"object","properties":{"type":{"type":"string","const":"all-subscribers"}},"required":["type"],"example":{"type":"all-subscribers"}}]}},"required":["channels","message","recipient"]}}}}}},"/v2/{appId}/send-batch":{"post":{"responses":{"202":{"description":"Batch messages sent successfully","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"operationId":"postV2ByAppIdSend-batch","tags":["Send"],"parameters":[{"in":"path","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"required":true}],"description":"Batch send multiple Alerts","security":[{"application":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"alerts":{"type":"array","items":{"type":"object","properties":{"channels":{"type":"array","items":{"type":"string","enum":["PUSH","IN_APP","EMAIL","TELEGRAM"]},"minItems":1},"message":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":60,"description":"Alert title","example":"Alert Title"},"body":{"type":"string","minLength":1,"maxLength":500,"description":"Alert body","example":"Alert body"},"image":{"type":"string","format":"uri","minLength":1,"maxLength":300,"description":"Public URL of the image to be displayed in the salert. Only jpg, png, and webp formats are supported.","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","const":"link"},"label":{"type":"string","minLength":1,"maxLength":30},"url":{"type":"string","format":"uri","minLength":1,"maxLength":300}},"required":["type","label","url"]},"maxItems":3,"description":"Alert actions","example":[{"type":"link","label":"Open Link","url":"https://dialect.to"}]}},"required":["title","body"]},"topicId":{"type":["string","null"],"format":"uuid","description":"Optional topic ID to categorize the alert. Must be created in advance and belong to the authenticated app. If absent, the alert is uncategorized. If invalid or unauthorized, the request will fail."},"data":{"type":"object","propertyNames":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","minLength":1,"maxLength":64},"additionalProperties":{"type":"string","minLength":1,"maxLength":500},"description":"Additional application data. For push notifications, this data is be available in the push notification payload and can be used by the app to handle the notification. Common use cases include deep linking, custom actions, or passing context to the app.","example":{"type":"transaction","transactionId":"123","amount":"100"}},"push":{"type":"object","properties":{"showNotification":{"type":"boolean","default":true,"description":"Whether to show the notification. When false, the notification will be delivered silently without showing any UI notification."},"playNotificationSound":{"type":"boolean","default":true,"description":"Whether to play notification sound. When false, the notification will be delivered without sound on iOS and best-effort on Android."}},"description":"Push notification specific configuration.","default":{}},"recipient":{"type":"object","properties":{"type":{"type":"string","const":"subscriber"},"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["type","walletAddress"],"example":{"type":"subscriber","walletAddress":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}}},"required":["channels","message","recipient"]},"minItems":1,"maxItems":500}},"required":["alerts"]}}}}}},"/v2/{appId}/subscribers":{"get":{"responses":{"200":{"description":"List of subscribers","content":{"application/json":{"schema":{"type":"object","properties":{"subscribers":{"type":"array","items":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}},"offset":{"type":"number","description":"The offset used for pagination","example":0},"limit":{"type":"number","description":"The limit used for pagination","example":100},"count":{"type":"number","description":"The number of items returned in this response","example":25}},"required":["subscribers","offset","limit","count"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"getV2ByAppIdSubscribers","tags":["Send"],"parameters":[{"in":"query","name":"offset","schema":{"type":"number","minimum":0,"default":0,"description":"Pagination offset","example":10}},{"in":"query","name":"limit","schema":{"type":"number","minimum":1,"maximum":1000,"default":100,"description":"Pagination limit","example":100}},{"in":"query","name":"walletAddress","schema":{"anyOf":[{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"},{"type":"array","items":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}}],"description":"WalletAddress or an array of WalletAddresses. If empty or omitted, targets all wallets.","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},{"in":"path","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"required":true}],"description":"Get all subscribers for the app","security":[{"application":[]}]}},"/v2/{appId}/topics":{"get":{"responses":{"200":{"description":"List of topics","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the topic","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","description":"Name of the topic","example":"Price Alerts"},"description":{"type":"string","description":"Description of the topic","example":"Receive alerts when prices drop below a certain threshold"},"slug":{"type":"string","description":"Human-readable slug of the topic","example":"price-alerts"}},"required":["id","name","slug"]},"description":"List of alert topics for the app"}},"required":["items"]}}}},"401":{"description":"Unauthorized"}},"operationId":"getV2ByAppIdTopics","tags":["Send"],"parameters":[{"in":"path","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"required":true}],"description":"Get all topics for the app","security":[{"application":[]}]}},"/v2/auth":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}}}},"401":{"description":"Unauthorized"}},"operationId":"getV2Auth","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Returns the currently authenticated user based on session data. If unauthorized, returns 401."}},"/v2/auth/solana/prepare":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message to be signed by the user","example":"Sign this message to authenticate. Nonce: 1638471298347"}},"required":["message"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}}},"operationId":"postV2AuthSolanaPrepare","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Prepares a message for the user to sign for authentication using a Solana wallet.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}}}}}},"/v2/auth/solana/verify":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","minLength":1},"subscriber":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}},"required":["token","subscriber"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"postV2AuthSolanaVerify","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Verifies the signed message and authenticates the user.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Message signed by the user, provided by /prepare endpoint","example":"Sign this message to authenticate. Nonce: 1638471298347"},"signature":{"type":"string","description":"Base58-encoded signature of the message","example":"2VYoXjcwKE..."}},"required":["message","signature"]}}}}}},"/v2/auth/solana-tx/prepare":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"transaction":{"type":"string","description":"Base64-encoded transaction to be signed by the user"}},"required":["transaction"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}}},"operationId":"postV2AuthSolana-txPrepare","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Prepares a transaction for the user to sign for authentication using a Solana wallet.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}}}}}},"/v2/auth/solana-tx/verify":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"token":{"type":"string","minLength":1},"subscriber":{"type":"object","properties":{"walletAddress":{"type":"string","description":"User wallet address","example":"6CxnSjtasq5Tzwb4b93AhLofXtiDvMpQ2vTkWdSZqTH7"}},"required":["walletAddress"]}},"required":["token","subscriber"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"postV2AuthSolana-txVerify","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Verifies the signed message and authenticates the user.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"transaction":{"type":"string","description":"Signed base64-encoded transaction signed by the user"}},"required":["transaction"]}}}}}},"/v2/history":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"alerts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Id uniquely identifying alerts"},"timestamp":{"type":"string","description":"ISO Timestamp","example":"2024-02-20T15:30:00.000Z"},"title":{"type":"string","minLength":1,"maxLength":100},"body":{"type":"string","minLength":1,"maxLength":500},"image":{"type":"string","format":"uri","description":"Image URL","example":"https://www.dialect.to/favicon.ico"},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","const":"link"},"label":{"type":"string","minLength":1,"maxLength":50},"url":{"type":"string","format":"uri","minLength":1},"context":{"type":"object","properties":{"type":{"type":"string","const":"position"},"apiUrl":{"type":"string","format":"uri"},"action":{"type":"string","minLength":1}},"required":["type","apiUrl"]}},"required":["type","label","url"]}},"data":{"type":"object","propertyNames":{"type":"string","pattern":"^[a-zA-Z0-9_-]+$","minLength":1,"maxLength":64},"additionalProperties":{"type":"string","minLength":1,"maxLength":500},"description":"Additional application data. For push notifications, this data is be available in the push notification payload and can be used by the app to handle the notification. Common use cases include deep linking, custom actions, or passing context to the app.","example":{"type":"transaction","transactionId":"123","amount":"100"}},"topic":{"type":"object","properties":{"id":{"type":"string","format":"uuid","minLength":1,"description":"Topic ID","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","minLength":1,"description":"Topic name","example":"Product Announcements"},"slug":{"type":"string","minLength":1,"description":"Topic slug","example":"product-announcements"}},"required":["id","name","slug"]},"app":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}},"required":["id","timestamp","title","body"]}},"summary":{"type":"object","properties":{"unreadCount":{"type":"number","description":"Total number of unread alerts","example":5},"lastRead":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"ISO Timestamp","example":"2024-02-20T15:30:00.000Z"}},"required":["timestamp"]}},"required":["unreadCount"]},"limit":{"type":"number","minimum":1,"maximum":20,"default":10,"description":"Pagination limit","example":10},"cursor":{"type":"string","contentEncoding":"base64","description":"Pagination cursor"}},"required":["alerts","summary","limit"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"getV2History","tags":["Inbox"],"parameters":[{"in":"query","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}},{"in":"query","name":"limit","schema":{"type":"number","minimum":1,"maximum":20,"default":10,"description":"Pagination limit","example":10}},{"in":"query","name":"cursor","schema":{"type":"string","contentEncoding":"base64","description":"Pagination cursor"}},{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Fetches alert history for a user, including unread count and last unread alert data.","security":[{"subscriber":[]}]}},"/v2/history/summary":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"unreadCount":{"type":"number","description":"Total number of unread alerts","example":5},"lastRead":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time","description":"ISO Timestamp","example":"2024-02-20T15:30:00.000Z"}},"required":["timestamp"]}},"required":["unreadCount"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"403":{"description":"Forbidden"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"getV2HistorySummary","tags":["Inbox"],"parameters":[{"in":"query","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}},{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Fetches summary of alert history for a user, including unread count and last unread alert data.","security":[{"subscriber":[]}]}},"/v2/history/read":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"403":{"description":"Forbidden"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2HistoryRead","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Marks alerts as read.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}}}}}}}},"/v2/history/clear":{"post":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"403":{"description":"Forbidden"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2HistoryClear","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Clears all alerts for the given user and specified apps. This is a global action and applies across all clients.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"anyOf":[{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},{"type":"array","items":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}}],"description":"App ID or an array of App IDs. If empty or omitted, targets all apps available (owned or whitelisted) for the client.","example":"123e4567-e89b-12d3-a456-426614174000"}}}}}}}},"/v2/push/subscribe":{"post":{"responses":{"202":{"description":"Subscription accepted","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2PushSubscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Allows a wallet to subscribe to push alerts. By specifying the appId, the wallet can subscribe to a specific application. If no appId is provided, the wallet will subscribe to pushes triggered by all IN_APP subscriptions and apps associated with the client key.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"deviceId":{"type":"string"},"fcmToken":{"type":"string","minLength":1}},"required":["fcmToken"]}}}}}},"/v2/push/unsubscribe":{"post":{"responses":{"202":{"description":"Unsubscription accepted","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2PushUnsubscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"}}],"description":"Allows a wallet to unsubscribe from push alerts. By specifying the appId, the wallet can unsubscribe from a specific application. If no appId is provided, the wallet will unsubscribe from pushes triggered by all IN_APP subscriptions and apps associated with the client key.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"deviceId":{"type":"string"},"fcmToken":{"type":"string","minLength":1}},"required":["fcmToken"]}}}}}},"/v2/subscribe":{"post":{"responses":{"201":{"description":"Subscription successful","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2Subscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Allows a wallet to subscribe to alerts for a given application.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"anyOf":[{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},{"type":"array","items":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}}],"description":"App ID or an array of App IDs. If empty or omitted, targets all apps available (owned or whitelisted) for the client.","example":"123e4567-e89b-12d3-a456-426614174000"},"channel":{"anyOf":[{"type":"string","enum":["IN_APP","EMAIL","TELEGRAM"]},{"type":"array","items":{"type":"string","enum":["IN_APP","EMAIL","TELEGRAM"]}}],"description":"Channel or an array of channels (IN_APP, TELEGRAM, EMAIL). If empty or omitted, targets all channels available for the subscriber","example":"IN_APP"}}}}}}}},"/v2/unsubscribe":{"post":{"responses":{"201":{"description":"Unsubscription successful","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"422":{"description":"Constraint validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2Unsubscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Unsubscribes a wallet to alerts for a given application.","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"appId":{"anyOf":[{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},{"type":"array","items":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}}],"description":"App ID or an array of App IDs. If empty or omitted, targets all apps available (owned or whitelisted) for the client.","example":"123e4567-e89b-12d3-a456-426614174000"},"channel":{"anyOf":[{"type":"string","enum":["IN_APP","EMAIL","TELEGRAM"]},{"type":"array","items":{"type":"string","enum":["IN_APP","EMAIL","TELEGRAM"]}}],"description":"Channel or an array of channels (IN_APP, TELEGRAM, EMAIL). If empty or omitted, targets all channels available for the subscriber","example":"IN_APP"}}}}}}}},"/v2/topics":{"get":{"responses":{"200":{"description":"List of alert topics","content":{"application/json":{"schema":{"type":"object","properties":{"byApp":{"type":"object","propertyNames":{"type":"string","format":"uuid","description":"App ID"},"additionalProperties":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the topic","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","description":"Name of the topic","example":"Price Alerts"},"description":{"type":"string","description":"Description of the topic","example":"Receive alerts when prices drop below a certain threshold"},"slug":{"type":"string","description":"Human-readable slug of the topic","example":"price-alerts"},"subscribed":{"type":"boolean","description":"Whether the subscriber has enabled notifications for this topic","example":true}},"required":["id","name","slug","subscribed"]}}},"required":["items"]}}},"required":["byApp"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"operationId":"getV2Topics","tags":["Inbox"],"parameters":[{"in":"query","name":"appId","schema":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"}},{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Fetches all alert topics for a subscriber, optionally filtered by appId","security":[{"subscriber":[]}]}},"/v2/topics/subscribe":{"post":{"responses":{"201":{"description":"Topic preference updated successfully","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Client not authorized to edit topics of non-whitelisted apps","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"422":{"description":"Topic not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postV2TopicsSubscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Enables receiving alerts of a specific topic for a subscriber","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"topicId":{"type":"string","format":"uuid","description":"List of topic IDs to be updated","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["topicId"]}}}}}},"/v2/topics/unsubscribe":{"post":{"responses":{"201":{"description":"Topic preference updated successfully","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Client not authorized to edit topics of non-whitelisted apps","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"422":{"description":"Topic not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"postV2TopicsUnsubscribe","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Disables receiving alerts of a specific topic for a subscriber","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"topicId":{"type":"string","format":"uuid","description":"List of topic IDs to be updated","example":"123e4567-e89b-12d3-a456-426614174000"}},"required":["topicId"]}}}}}},"/v2/apps":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"apps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"icon":{"type":"string","format":"uri"},"subscribed":{"type":"boolean","description":"Whether the subscriber has enabled notifications for at least one channel of this app","example":true},"topics":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the topic","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","description":"Name of the topic","example":"Price Alerts"},"description":{"type":"string","description":"Description of the topic","example":"Receive alerts when prices drop below a certain threshold"},"slug":{"type":"string","description":"Human-readable slug of the topic","example":"price-alerts"},"subscribed":{"type":"boolean","description":"Whether the subscriber has enabled notifications for this topic","example":true}},"required":["id","name","slug","subscribed"]},"description":"Subscriber's topics this app."},"channels":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","enum":["IN_APP","EMAIL","TELEGRAM"]},"subscribed":{"type":"boolean"}},"required":["channel","subscribed"]},"description":"List of channels that the app supports for notifications."}},"required":["id","name","subscribed","topics","channels"]}}},"required":["apps"]}}}},"401":{"description":"Unauthorized"}},"operationId":"getV2Apps","tags":["Inbox"],"parameters":[{"in":"header","name":"X-Dialect-Client-Key","schema":{"type":"string","description":"Client Key used to uniquely identify the client","example":"dk_gyh2eqzfkc4mhp5eiahnndkz"},"required":true}],"description":"Returns a list of apps that the subscriber can subscribe to, including their subscription status and topics.","security":[{"subscriber":[]}]}},"/v2/channel/email/prepare":{"post":{"responses":{"200":{"description":"Unverified email channel created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["EMAIL","TELEGRAM"]},"value":{"type":"string"},"verified":{"type":"boolean"},"subscribed":{"type":"boolean"},"subscribedApps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}}},"required":["id","type","value","verified","subscribed"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"409":{"description":"Channel already exists","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2ChannelEmailPrepare","tags":["Channels"],"parameters":[],"description":"Prepare email channel for a subscriber","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{"_def":{"unknownKeys":"strip","catchall":{"_def":{"typeName":"ZodNever"},"~standard":{"version":1,"vendor":"zod"}},"typeName":"ZodObject"},"~standard":{"version":1,"vendor":"zod"},"_cached":null}}}}}},"/v2/channel/telegram/prepare":{"post":{"responses":{"200":{"description":"Telegram channel prepared successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["EMAIL","TELEGRAM"]},"value":{"type":"string"},"verified":{"type":"boolean"},"subscribed":{"type":"boolean"},"subscribedApps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}},"verification":{"type":"object","properties":{"link":{"type":"string"}},"required":["link"]}},"required":["id","type","value","verified","subscribed","verification"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"postV2ChannelTelegramPrepare","tags":["Channels"],"parameters":[],"description":"Prepare telegram channel for a subscriber","security":[{"subscriber":[]}]}},"/v2/channel/email/verify":{"post":{"responses":{"200":{"description":"Email channel verified successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["EMAIL","TELEGRAM"]},"value":{"type":"string"},"verified":{"type":"boolean"},"subscribed":{"type":"boolean"},"subscribedApps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}}},"required":["id","type","value","verified","subscribed"]}}}},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"422":{"description":"Verification error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2ChannelEmailVerify","tags":["Channels"],"parameters":[],"description":"Verify email channel for a subscriber","security":[{"subscriber":[]}],"requestBody":{"content":{"application/json":{"schema":{}}}}}},"/v2/channel/email/resend":{"post":{"responses":{"201":{"description":"Email verification resent successfully"},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"},"409":{"description":"Address already verified or does not exist yet","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}},"422":{"description":"Verification error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}},"operationId":"postV2ChannelEmailResend","tags":["Channels"],"parameters":[],"description":"Resend email verification for a subscriber","security":[{"subscriber":[]}]}},"/v2/channel/email/delete":{"post":{"responses":{"201":{"description":"Email channel deleted successfully"},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"postV2ChannelEmailDelete","tags":["Channels"],"parameters":[],"description":"Delete email channel for a subscriber","security":[{"subscriber":[]}]}},"/v2/channel/telegram/delete":{"post":{"responses":{"200":{"description":"Telegram channel deleted successfully"},"400":{"description":"Request validation error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}},"401":{"description":"Unauthorized"}},"operationId":"postV2ChannelTelegramDelete","tags":["Channels"],"parameters":[],"description":"Delete telegram channel for a subscriber","security":[{"subscriber":[]}]}},"/v2/channels":{"get":{"responses":{"200":{"description":"User channels retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"EMAIL":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["EMAIL","TELEGRAM"]},"value":{"type":"string"},"verified":{"type":"boolean"},"subscribed":{"type":"boolean"},"subscribedApps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}}},"required":["id","type","value","verified","subscribed"]},"TELEGRAM":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["EMAIL","TELEGRAM"]},"value":{"type":"string"},"verified":{"type":"boolean"},"subscribed":{"type":"boolean"},"subscribedApps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Application ID","example":"255d6163-7e25-43e9-a188-c2f8d0980a4a"},"name":{"type":"string","minLength":1,"description":"Application name","example":"Dialect"},"icon":{"type":"string","format":"uri","description":"Icon URL","example":"https://dialect-file-storage.s3.us-west-2.amazonaws.com/avatars/dialect-logo.png"}},"required":["id","name"]}}},"required":["id","type","value","verified","subscribed"]}},"additionalProperties":false}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"]}}}}},"operationId":"getV2Channels","tags":["Channels"],"parameters":[],"description":"Get user's channels and channel subscriptions","security":[{"subscriber":[]}]}}}}